/* line 1, ../SASS/_initialize.scss */
html, body, header, footer, section, article, aside, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, blockquote {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  font-weight: normal;
}

/* line 9, ../SASS/_initialize.scss */
ul, ol {
  list-style: none;
}

/* line 11, ../SASS/_initialize.scss */
strong {
  font-weight: 600;
}

@font-face {
  font-family: 'smw-icons';
  src: url("fonts/smw-icons.eot?lgvpie");
  src: url("fonts/smw-icons.eot?lgvpie#iefix") format("embedded-opentype"), url("fonts/smw-icons.ttf?lgvpie") format("truetype"), url("fonts/smw-icons.woff?lgvpie") format("woff"), url("fonts/smw-icons.svg?lgvpie#smw-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 13, ../SASS/_fonts.scss */
.icon-angle-down, .social, #headerContent .hamburgerMenu, .subnav .views > li, .share, #mobile-nav > ul > li button {
  font-family: 'smw-icons';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 21, ../SASS/_fonts.scss */
body, #topNav .search-box input[type="text"], .contactMainContent input[type='email'], .contactMainContent input[type='text'], .newsIntroContainer input[type='email'], .newsIntroContainer input[type='text'], .contactMainContent button, .newsIntroContainer button {
  font-family: "freight-sans-pro",sans-serif;
  font-feature-settings: 'lnum';
  -webkit-font-feature-settings: 'lnum';
  -moz-font-feature-settings: 'lnum';
}

/* line 30, ../SASS/_fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'smw-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  -moz-font-variant-ligatures: discretionary-ligatures;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 55, ../SASS/_fonts.scss */
.icon-search:before {
  content: "\f002";
}

/* line 51, ../SASS/_common.scss */
#topNav .topNavContainer:after, #topNav .topNavContainer > ul:after, .social:after, #headerContent nav > ul > li:after, #main-nav .navDropdown:after, .careersNav:after, #main-nav .navDropdownWrapper:after, .pageSectionContent:after, .pageSectionRight:after, .subnav:after, .subnav .filters:after, .subnav .filters .filterDropdownContent:after, #mobile-nav > ul > li:after, #mobile-nav .navDropdownWrapper:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

/* line 60, ../SASS/_common.scss */
#headerContent nav > ul, .subnav .filters > ul, #footerNav > ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 67, ../SASS/_common.scss */
#topNav .search-box .search-form label, #topNav .search-box button .buttontext, .social span, #headerContent .hamburgerMenu span, #headerContent #mainNavToggle, .slideshowControls span, .subnav .views span {
  position: absolute;
  left: -999999px;
}

/* line 71, ../SASS/_common.scss */
#headerContent h1 span {
  display: inline-block;
  text-indent: -999999px;
}

/* line 73, ../SASS/_common.scss */
.social a, #headerContent h1 a, #headerContent nav > ul > li > a, .subnav .views a {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 78, ../SASS/_common.scss */
.imageWrapper img, .slideshowSlider .slide img {
  display: block;
  width: 100%;
  height: auto;
}

/* line 94, ../SASS/_common.scss */
#headerContent nav > ul > li:last-child {
  margin-right: 0;
}

/* line 110, ../SASS/_common.scss */
#topNav .topNavContainer, #headerContent, #main-nav .navDropdownCenterer, .pageSectionContent, .subnav, .contactMain, #footerContent, #mobile-nav > ul {
  width: 93%;
  max-width: 1170px;
  margin: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  /* line 156, ../SASS/_common.scss */
  .servicesQuote .viewProjects {
    display: none;
  }
}

/* line 162, ../SASS/_common.scss */
.viewProjects.mobilebtn {
  clear: both;
  z-index: 10;
  position: relative;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 50px;
  text-align: center;
  display: none;
}
@media screen and (max-width: 480px) {
  /* line 162, ../SASS/_common.scss */
  .viewProjects.mobilebtn {
    display: block;
  }
}
/* line 175, ../SASS/_common.scss */
.viewProjects.mobilebtn a {
  display: inline-block;
  color: #fafafa;
  border: 2px solid #fafafa;
  line-height: 1em;
  padding: 20px 35px;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}
/* line 183, ../SASS/_common.scss */
.viewProjects.mobilebtn a:hover {
  background-color: #fafafa;
  color: #26128c;
  text-decoration: none;
}

/* line 210, ../SASS/_common.scss */
a {
  color: #26128c;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
  text-decoration: none;
}
/* line 215, ../SASS/_common.scss */
a:hover {
  color: black;
}
/* line 217, ../SASS/_common.scss */
a:hover, #homepageServices a:hover .readmore span {
  border-bottom: 1px solid black;
}
/* line 229, ../SASS/_common.scss */
a.mapplic-pin:hover, a.mapplic-tooltip-link:hover, a.mapplic-tooltip-close:hover, a.t_line_node:hover, .views
a:hover, .servicesIcons a:hover, #homepageServices a:hover, .subnav .filters .filterDropdown a:hover, .newsTile a:hover, .slideshowOverlay a:hover {
  border: 0;
}

/* line 243, ../SASS/_common.scss */
#headerContent .hamburgerMenu, #headerContent h1, .pageSectionCopy, .contactMainContent, .container404, #headerContent nav, .pageSectionRight, #main-nav .navDropdown, .careersNav, .subnavContainer, .copyInfo, #footerNav > ul {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}
/* line 250, ../SASS/_common.scss */
#headerContent .hamburgerMenu:first-child, #headerContent h1:first-child, .pageSectionCopy:first-child, .contactMainContent:first-child, .container404:first-child, #headerContent nav:first-child, .pageSectionRight:first-child, #main-nav .navDropdown:first-child, .careersNav:first-child, .subnavContainer:first-child, .copyInfo:first-child, #footerNav > ul:first-child {
  padding-left: 0;
}
/* line 251, ../SASS/_common.scss */
#headerContent .hamburgerMenu:last-child, #headerContent h1:last-child, .pageSectionCopy:last-child, .contactMainContent:last-child, .container404:last-child, #headerContent nav:last-child, .pageSectionRight:last-child, #main-nav .navDropdown:last-child, .careersNav:last-child, .subnavContainer:last-child, .copyInfo:last-child, #footerNav > ul:last-child {
  padding-right: 0;
}

/* line 254, ../SASS/_common.scss */
#main-nav .navDropdown:first-child, .careersNav:first-child, .subnavContainer:first-child, .contactMainContent:first-child, .container404:first-child {
  padding-left: 15px;
}

/* line 258, ../SASS/_common.scss */
#headerContent .hamburgerMenu {
  width: 8.33333%;
}

/* line 258, ../SASS/_common.scss */
#headerContent h1, .pageSectionCopy {
  width: 25%;
}

/* line 261, ../SASS/_common.scss */
#main-nav .navDropdown, .careersNav, .subnavContainer, .contactMainContent, .container404 {
  margin-left: 25%;
}

/* line 258, ../SASS/_common.scss */
.contactMainContent, .container404 {
  width: 50%;
}

/* line 258, ../SASS/_common.scss */
#headerContent nav, #main-nav .navDropdown, .careersNav, .pageSectionRight, .subnavContainer {
  width: 75%;
}

/* line 258, ../SASS/_common.scss */
.copyInfo {
  width: 83.33333%;
}

/* line 258, ../SASS/_common.scss */
#footerNav > ul {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  /* line 285, ../SASS/_common.scss */
  #main-nav .navDropdown, .careersNav {
    margin-left: 0%;
  }

  /* line 282, ../SASS/_common.scss */
  #headerContent h1, .pageSectionCopy {
    width: 33.33333%;
  }

  /* line 282, ../SASS/_common.scss */
  #headerContent nav, .pageSectionRight {
    width: 66.66667%;
  }

  /* line 282, ../SASS/_common.scss */
  #main-nav .navDropdown, .careersNav {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  /* line 300, ../SASS/_common.scss */
  .pageSectionCopy, .pageSectionRight, .subnavContainer {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    float: none;
    margin: 0 0 15px 0;
  }
  /* line 241, ../SASS/_common.scss */
  .pageSectionCopy:first-child, .pageSectionRight:first-child, .subnavContainer:first-child, .pageSectionCopy:last-child, .pageSectionRight:last-child, .subnavContainer:last-child {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 686px) {
  /* line 304, ../SASS/_common.scss */
  #headerContent h1 {
    width: 91.66667%;
  }

  /* line 304, ../SASS/_common.scss */
  #headerContent nav {
    width: 100%;
  }
}
/* line 352, ../SASS/_common.scss */
.oEmbedWrapper {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
/* line 356, ../SASS/_common.scss */
.oEmbedWrapper iframe {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

/* line 370, ../SASS/_common.scss */
.oEmbedWrapper, .imageWrapper, .textWrapper {
  margin-bottom: 30px;
}
/* line 372, ../SASS/_common.scss */
.oEmbedWrapper:last-child, .imageWrapper:last-child, .textWrapper:last-child {
  margin-bottom: 0;
}

/* line 376, ../SASS/_common.scss */
.locationsMap .mapplic-pin, .contactMap .mapplic-pin {
  background-image: url(images/map_marker.svg);
}

/* line 380, ../SASS/_common.scss */
#landmarks-countries path {
  -webkit-transition: fill 0.25s;
  transition: fill 0.25s;
}
/* line 384, ../SASS/_common.scss */
#landmarks-countries path:hover, #landmarks-countries g:hover path {
  fill: #CCCCCC;
}

/* line 389, ../SASS/_common.scss */
.icon-angle-down:before {
  content: "\f107";
}

/* line 392, ../SASS/_common.scss */
#feedback {
  position: fixed;
  z-index: 2000;
  right: 10px;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFFFFF;
  font-size: 11px;
  padding: 5px;
  display: none;
}

@-webkit-keyframes svgLoader {
  /* line 405, ../SASS/_common.scss */
  0% {
    opacity: 0;
  }

  /* line 406, ../SASS/_common.scss */
  49% {
    opacity: 1;
  }

  /* line 407, ../SASS/_common.scss */
  98% {
    opacity: 0;
  }

  /* line 408, ../SASS/_common.scss */
  100% {
    opacity: 0;
  }
}

@keyframes svgLoader {
  /* line 411, ../SASS/_common.scss */
  0% {
    opacity: 0;
  }

  /* line 412, ../SASS/_common.scss */
  49% {
    opacity: 1;
  }

  /* line 413, ../SASS/_common.scss */
  98% {
    opacity: 0;
  }

  /* line 414, ../SASS/_common.scss */
  100% {
    opacity: 0;
  }
}

/* line 417, ../SASS/_common.scss */
.svg-loader {
  display: none;
}
/* line 419, ../SASS/_common.scss */
.svg-loader svg {
  display: block;
  width: 48px;
  height: 48px;
  margin: auto;
}
/* line 424, ../SASS/_common.scss */
.svg-loader svg rect {
  fill: #666666;
  -webkit-animation: svgLoader 2s linear infinite;
  animation: svgLoader 2s linear infinite;
}
/* line 429, ../SASS/_common.scss */
.svg-loader svg #rect1 {
  -webkit-animation-delay: 0;
  animation-delay: 0;
}
/* line 430, ../SASS/_common.scss */
.svg-loader svg #rect2 {
  -webkit-animation-delay: 1.83333s;
  animation-delay: 1.83333s;
}
/* line 431, ../SASS/_common.scss */
.svg-loader svg #rect3 {
  -webkit-animation-delay: 1.66667s;
  animation-delay: 1.66667s;
}
/* line 432, ../SASS/_common.scss */
.svg-loader svg #rect4 {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
/* line 433, ../SASS/_common.scss */
.svg-loader svg #rect5 {
  -webkit-animation-delay: 1.33333s;
  animation-delay: 1.33333s;
}
/* line 434, ../SASS/_common.scss */
.svg-loader svg #rect6 {
  -webkit-animation-delay: 1.16667s;
  animation-delay: 1.16667s;
}
/* line 435, ../SASS/_common.scss */
.svg-loader svg #rect7 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
/* line 436, ../SASS/_common.scss */
.svg-loader svg #rect8 {
  -webkit-animation-delay: 0.83333s;
  animation-delay: 0.83333s;
}
/* line 437, ../SASS/_common.scss */
.svg-loader svg #rect9 {
  -webkit-animation-delay: 0.66667s;
  animation-delay: 0.66667s;
}
/* line 438, ../SASS/_common.scss */
.svg-loader svg #rect10 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
/* line 439, ../SASS/_common.scss */
.svg-loader svg #rect11 {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;
}
/* line 440, ../SASS/_common.scss */
.svg-loader svg #rect12 {
  -webkit-animation-delay: 0.16667s;
  animation-delay: 0.16667s;
}

/* line 1, ../SASS/_header.scss */
.fixedTop {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  z-index: 2000;
}

/* line 11, ../SASS/_header.scss */
#topNav {
  border-bottom: 1px solid #e6e6e6;
  font-size: 0.9375em;
  height: 30px;
}
/* line 18, ../SASS/_header.scss */
#topNav .topNavContainer > ul {
  float: right;
}
/* line 21, ../SASS/_header.scss */
#topNav .topNavContainer > ul > li {
  float: left;
  height: 30px;
  margin-right: 27px;
  opacity: 1;
}
/* line 26, ../SASS/_header.scss */
#topNav .topNavContainer > ul > li:last-child {
  margin-right: 0;
}
/* line 28, ../SASS/_header.scss */
#topNav .topNavContainer > ul .search-box {
  width: 300px;
  border: 1px solid #e6e6e6;
  border-bottom: 0;
}
/* line 44, ../SASS/_header.scss */
#topNav a {
  color: black;
  display: block;
  line-height: 30px;
}
/* line 48, ../SASS/_header.scss */
#topNav a:hover {
  color: #26128c;
  border: 0;
}
/* line 50, ../SASS/_header.scss */
#topNav .search-box {
  width: 30px;
  overflow: hidden;
  position: relative;
}
/* line 54, ../SASS/_header.scss */
#topNav .search-box .search-form {
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
}
/* line 62, ../SASS/_header.scss */
#topNav .search-box input[type="text"] {
  border: 0;
  background: transparent;
  width: 260px;
  float: left;
  height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px;
  font-size: 0.9375em;
}
/* line 75, ../SASS/_header.scss */
#topNav .search-box button {
  border: 0;
  background: transparent;
  width: 40px;
  height: 30px;
  float: right;
  padding: 0;
  z-index: 9999;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
}
/* line 90, ../SASS/_header.scss */
#topNav .search-box input[type="text"], #topNav .search-box button {
  color: black;
  cursor: pointer;
}
/* line 93, ../SASS/_header.scss */
#topNav .search-box input[type="text"]:hover, #topNav .search-box button:hover {
  color: #26128c;
}
@media screen and (max-width: 686px) {
  /* line 11, ../SASS/_header.scss */
  #topNav {
    display: none;
  }
}

/* line 108, ../SASS/_header.scss */
.social li {
  width: 14px;
  height: 14px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  margin-right: 8px;
  float: left;
}
/* line 116, ../SASS/_header.scss */
.social li.facebook a:after {
  content: "F";
}
/* line 117, ../SASS/_header.scss */
.social li.twitter a:after {
  content: "T";
}
/* line 118, ../SASS/_header.scss */
.social li.linkedin a:after {
  content: "L";
}
/* line 119, ../SASS/_header.scss */
.social li.instagram a:after {
  content: "\e903";
}
/* line 122, ../SASS/_header.scss */
footer .social {
  position: relative;
  top: 5px;
}

/* line 128, ../SASS/_header.scss */
header {
  border-bottom: 1px solid #e6e6e6;
  height: 60px;
  position: relative;
}

/* line 135, ../SASS/_header.scss */
button.dropdown {
  display: none;
}

/* line 139, ../SASS/_header.scss */
#headerContent {
  height: 60px;
}
@media screen and (max-width: 686px) {
  /* line 139, ../SASS/_header.scss */
  #headerContent {
    position: static;
  }
}
/* line 144, ../SASS/_header.scss */
#headerContent h1 {
  height: 60px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 172px;
}
/* line 154, ../SASS/_header.scss */
#headerContent h1 a:hover {
  border: 0;
}
/* line 159, ../SASS/_header.scss */
#headerContent nav {
  height: 100%;
  -webkit-transition: right 0.25s;
  transition: right 0.25s;
}
/* line 167, ../SASS/_header.scss */
#headerContent nav > ul {
  height: 100%;
}
/* line 171, ../SASS/_header.scss */
#headerContent nav > ul > li {
  font-size: 1.3125em;
  margin-right: 70px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}
/* line 181, ../SASS/_header.scss */
#headerContent nav > ul > li.current_page a:before, #headerContent nav > ul > li:hover a:before {
  height: 4px;
}
/* line 184, ../SASS/_header.scss */
#headerContent nav > ul > li.current_page .navDropdownWrapper, #headerContent nav > ul > li:hover .navDropdownWrapper {
  display: block;
}
/* line 186, ../SASS/_header.scss */
#headerContent nav > ul > li.current_page .navDropdownWrapper {
  min-height: 0;
}
/* line 188, ../SASS/_header.scss */
#headerContent nav > ul > li.menu_show .navDropdownWrapper {
  display: block;
}
/* line 191, ../SASS/_header.scss */
#headerContent nav > ul > li.current_page .navDropdownWrapper, #headerContent nav > ul > li.menu_show .navDropdownWrapper {
  z-index: 0;
  background-color: #FFFFFF;
}
/* line 192, ../SASS/_header.scss */
#headerContent nav > ul > li.current_page .navDropdownWrapper.locations, #headerContent nav > ul > li.menu_show .navDropdownWrapper.locations {
  background-color: transparent;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}
/* line 193, ../SASS/_header.scss */
#headerContent nav > ul > li.current_page .navDropdownWrapper.locations.addwhite, #headerContent nav > ul > li.menu_show .navDropdownWrapper.locations.addwhite {
  background-color: #FFFFFF;
}
@media screen and (max-width: 1170px) {
  /* line 171, ../SASS/_header.scss */
  #headerContent nav > ul > li {
    margin-right: 0;
    flex-grow: 1;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
  }
}
/* line 206, ../SASS/_header.scss */
#headerContent nav > ul > li > a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 24px;
  position: relative;
  color: black;
}
/* line 214, ../SASS/_header.scss */
#headerContent nav > ul > li > a:hover {
  color: #26128c;
  border: 0;
}
/* line 215, ../SASS/_header.scss */
#headerContent nav > ul > li > a:before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #26128c;
  display: block;
  content: " ";
  overflow: hidden;
  -webkit-transition: height 0.25s;
  transition: height 0.25s;
}
@media screen and (min-width: 1024px) {
  /* line 230, ../SASS/_header.scss */
  #headerContent nav > ul > li:last-child .navDropdown ul {
    float: right;
  }
}
/* line 242, ../SASS/_header.scss */
#headerContent nav > ul:hover > li.current_page > a:before {
  height: 0;
}
/* line 245, ../SASS/_header.scss */
#headerContent nav > ul:hover > li.current_page:hover > a:before {
  height: 4px;
}
/* line 252, ../SASS/_header.scss */
#headerContent nav .navDropdownWrapper {
  position: absolute;
  display: none;
  min-height: 54px;
}
/* line 256, ../SASS/_header.scss */
#headerContent nav .navDropdownWrapper li.current a {
  color: #26128c;
}
/* line 261, ../SASS/_header.scss */
#headerContent nav .dropdownContent {
  background-color: #FFFFFF;
  padding-left: 15px;
}
@media screen and (max-width: 1024px) {
  /* line 159, ../SASS/_header.scss */
  #headerContent nav {
    min-height: -webkit-calc(100vh - 90px);
    min-height: calc(100vh - 90px);
    width: 100%;
    top: 100%;
    right: -100%;
    position: absolute;
    padding: 0;
    background-color: #fafafa;
  }
  /* line 276, ../SASS/_header.scss */
  #headerContent nav.open {
    right: 0;
  }
  /* line 277, ../SASS/_header.scss */
  #headerContent nav > ul {
    height: auto;
    display: block;
  }
  /* line 280, ../SASS/_header.scss */
  #headerContent nav > ul > li {
    text-align: center;
  }
  /* line 282, ../SASS/_header.scss */
  #headerContent nav > ul > li > a {
    padding: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 289, ../SASS/_header.scss */
  #headerContent nav > ul > li > a:before {
    display: none;
  }
  /* line 292, ../SASS/_header.scss */
  #headerContent nav > ul > li button.dropdown {
    display: block;
  }
  /* line 295, ../SASS/_header.scss */
  #headerContent nav > ul > li:hover .navDropdownWrapper {
    display: none;
  }
  /* line 297, ../SASS/_header.scss */
  #headerContent nav > ul > li.current_page > a {
    color: #26128c;
  }
  /* line 298, ../SASS/_header.scss */
  #headerContent nav > ul > li.current_page:hover .navDropdownWrapper {
    display: block;
  }
  /* line 300, ../SASS/_header.scss */
  #headerContent nav > ul > li.current_page .navDropdownWrapper {
    background-color: #fafafa;
  }
  /* line 304, ../SASS/_header.scss */
  #headerContent nav .navDropdownWrapper {
    position: static;
  }
  /* line 306, ../SASS/_header.scss */
  #headerContent nav .navDropdownWrapper.locations {
    display: none !important;
  }
  /* line 310, ../SASS/_header.scss */
  #headerContent nav .navDropdown {
    padding-left: 0;
  }
  /* line 312, ../SASS/_header.scss */
  #headerContent nav .navDropdown li {
    float: none;
    text-align: center;
    font-size: 18px;
    margin-right: 0;
  }
  /* line 318, ../SASS/_header.scss */
  #headerContent nav .navDropdown a {
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 328, ../SASS/_header.scss */
#headerContent .hamburgerMenu {
  cursor: pointer;
  height: 60px;
  padding: 0;
  text-align: center;
  display: none;
  float: right;
  background: transparent;
  border: 0;
}
@media screen and (max-width: 1024px) {
  /* line 328, ../SASS/_header.scss */
  #headerContent .hamburgerMenu {
    display: block;
  }
}
/* line 341, ../SASS/_header.scss */
#headerContent .hamburgerMenu:after {
  content: "=";
  display: block;
  font-size: 30px;
}

/* line 361, ../SASS/_header.scss */
#main-nav .navDropdown li, .careersNav li {
  font-size: 18px;
  float: left;
  line-height: 1em;
  margin-right: 20px;
}
/* line 367, ../SASS/_header.scss */
#main-nav .navDropdown li:last-child, .careersNav li:last-child {
  margin-right: 0;
}
/* line 369, ../SASS/_header.scss */
#main-nav .navDropdown li:last-child a, .careersNav li:last-child a {
  padding-right: 0;
}
/* line 374, ../SASS/_header.scss */
#main-nav .navDropdown a, .careersNav a {
  display: block;
  padding: 9px 18px 0px 0;
  color: black;
}
/* line 378, ../SASS/_header.scss */
#main-nav .navDropdown a:hover, .careersNav a:hover {
  color: #26128c;
  border: 0;
}

/* line 383, ../SASS/_header.scss */
#main-nav .navDropdownWrapper {
  width: 100%;
  left: 0;
  background-color: #FFFFFF;
  margin-top: 1px;
  z-index: 10;
  padding-bottom: 9px;
}

/* line 1, ../SASS/_content.scss */
.pageSectionCopy h2, .contactMain h2 {
  color: #26128c;
  font-weight: 300;
  font-size: 2.25em;
  margin-bottom: 0.5em;
  line-height: 1.1em;
}

/* line 9, ../SASS/_content.scss */
.jobsList h3 {
  font-size: 0.9375em;
  color: #26128c;
  text-transform: uppercase;
  margin-bottom: 6px;
  letter-spacing: 1px;
}

/* line 16, ../SASS/_content.scss */
.sharebox {
  padding: 20px 0;
}

/* line 19, ../SASS/_content.scss */
.slideshowContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 0;
  padding: 31% 0;
}
/* line 25, ../SASS/_content.scss */
.projectColBig .slideshowContainer {
  padding: 36% 0;
}

/* line 28, ../SASS/_content.scss */
.slideshowSlider {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transition: left 0.25s,right 0.25s;
  transition: left 0.25s,right 0.25s;
  z-index: 0;
}
/* line 36, ../SASS/_content.scss */
.slideshowSlider .slide {
  position: absolute;
  left: -100%;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
      /*a {
	      display: block;
	      background-size: cover;
	      background-position: center center;
	      min-height: 500px;
      }*/
}
/* line 46, ../SASS/_content.scss */
.slideshowSlider .slide:first-child {
  z-index: 100;
  left: 0;
}

/* line 57, ../SASS/_content.scss */
.single-projects #singleProjectSlideshow .slideshowSlider .slide {
  background-size: cover;
  background-position: center center;
  height: 535px;
}
/* line 61, ../SASS/_content.scss */
.single-projects #singleProjectSlideshow .slideshowSlider .slide img {
  opacity: 0;
}
@media screen and (max-width: 768px) {
  /* line 57, ../SASS/_content.scss */
  .single-projects #singleProjectSlideshow .slideshowSlider .slide {
    height: 400px;
  }
}
@media screen and (max-width: 550px) {
  /* line 57, ../SASS/_content.scss */
  .single-projects #singleProjectSlideshow .slideshowSlider .slide {
    height: 330px;
  }
}
@media screen and (max-width: 480px) {
  /* line 57, ../SASS/_content.scss */
  .single-projects #singleProjectSlideshow .slideshowSlider .slide {
    height: 280px;
  }
}
@media screen and (max-width: 400) {
  /* line 57, ../SASS/_content.scss */
  .single-projects #singleProjectSlideshow .slideshowSlider .slide {
    height: 240px;
  }
}

/* line 82, ../SASS/_content.scss */
.page-template-template-projects #projects-intro .slideshowSlider .slide, .page-template-template-careers #careers .slideshowSlider .slide, .single-post #newsWrapper .slideshowSlider .slide {
  background-size: cover;
  background-position: center center;
  height: 535px;
}
/* line 86, ../SASS/_content.scss */
.page-template-template-projects #projects-intro .slideshowSlider .slide img, .page-template-template-careers #careers .slideshowSlider .slide img, .single-post #newsWrapper .slideshowSlider .slide img {
  opacity: 0;
}
@media screen and (max-width: 1024px) {
  /* line 82, ../SASS/_content.scss */
  .page-template-template-projects #projects-intro .slideshowSlider .slide, .page-template-template-careers #careers .slideshowSlider .slide, .single-post #newsWrapper .slideshowSlider .slide {
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  /* line 82, ../SASS/_content.scss */
  .page-template-template-projects #projects-intro .slideshowSlider .slide, .page-template-template-careers #careers .slideshowSlider .slide, .single-post #newsWrapper .slideshowSlider .slide {
    height: 450px;
  }
}
@media screen and (max-width: 550px) {
  /* line 82, ../SASS/_content.scss */
  .page-template-template-projects #projects-intro .slideshowSlider .slide, .page-template-template-careers #careers .slideshowSlider .slide, .single-post #newsWrapper .slideshowSlider .slide {
    height: 330px;
  }
}
@media screen and (max-width: 480px) {
  /* line 82, ../SASS/_content.scss */
  .page-template-template-projects #projects-intro .slideshowSlider .slide, .page-template-template-careers #careers .slideshowSlider .slide, .single-post #newsWrapper .slideshowSlider .slide {
    height: 280px;
  }
}
@media screen and (max-width: 400px) {
  /* line 82, ../SASS/_content.scss */
  .page-template-template-projects #projects-intro .slideshowSlider .slide, .page-template-template-careers #careers .slideshowSlider .slide, .single-post #newsWrapper .slideshowSlider .slide {
    height: 240px;
  }
}

/* line 107, ../SASS/_content.scss */
.single-post .newsDetail .slideshowContainer {
  height: 535px;
  padding: 0;
}
@media screen and (max-width: 1024px) {
  /* line 107, ../SASS/_content.scss */
  .single-post .newsDetail .slideshowContainer {
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  /* line 107, ../SASS/_content.scss */
  .single-post .newsDetail .slideshowContainer {
    height: 450px;
  }
}
@media screen and (max-width: 550px) {
  /* line 107, ../SASS/_content.scss */
  .single-post .newsDetail .slideshowContainer {
    height: 330px;
  }
}
@media screen and (max-width: 480px) {
  /* line 107, ../SASS/_content.scss */
  .single-post .newsDetail .slideshowContainer {
    height: 280px;
  }
}
@media screen and (max-width: 400px) {
  /* line 107, ../SASS/_content.scss */
  .single-post .newsDetail .slideshowContainer {
    height: 240px;
  }
}

/* line 128, ../SASS/_content.scss */
.page-template-template-services #services-intro .slideshowSlider .slide {
  background-size: cover;
  background-position: center center;
  height: 585px;
}
/* line 132, ../SASS/_content.scss */
.page-template-template-services #services-intro .slideshowSlider .slide img {
  opacity: 0;
}
@media screen and (max-width: 1024px) {
  /* line 128, ../SASS/_content.scss */
  .page-template-template-services #services-intro .slideshowSlider .slide {
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  /* line 128, ../SASS/_content.scss */
  .page-template-template-services #services-intro .slideshowSlider .slide {
    height: 450px;
  }
}
@media screen and (max-width: 550px) {
  /* line 128, ../SASS/_content.scss */
  .page-template-template-services #services-intro .slideshowSlider .slide {
    height: 330px;
  }
}
@media screen and (max-width: 480px) {
  /* line 128, ../SASS/_content.scss */
  .page-template-template-services #services-intro .slideshowSlider .slide {
    height: 280px;
  }
}
@media screen and (max-width: 400px) {
  /* line 128, ../SASS/_content.scss */
  .page-template-template-services #services-intro .slideshowSlider .slide {
    height: 240px;
  }
}

/* line 155, ../SASS/_content.scss */
.projectCol .slideshowSlider .slide, .single-projects .slideshowSlider .slide, .single-services .slideshowSlider .slide, .single-post #newsWrapper .newsRelatedList .slideshowSlider .slide {
  background-size: cover;
  background-position: center center;
  height: 200px;
}
/* line 159, ../SASS/_content.scss */
.projectCol .slideshowSlider .slide img, .single-projects .slideshowSlider .slide img, .single-services .slideshowSlider .slide img, .single-post #newsWrapper .newsRelatedList .slideshowSlider .slide img {
  opacity: 0;
}
@media screen and (max-width: 1024px) {
  /* line 155, ../SASS/_content.scss */
  .projectCol .slideshowSlider .slide, .single-projects .slideshowSlider .slide, .single-services .slideshowSlider .slide, .single-post #newsWrapper .newsRelatedList .slideshowSlider .slide {
    height: 155px;
  }
}
@media screen and (max-width: 768px) {
  /* line 155, ../SASS/_content.scss */
  .projectCol .slideshowSlider .slide, .single-projects .slideshowSlider .slide, .single-services .slideshowSlider .slide, .single-post #newsWrapper .newsRelatedList .slideshowSlider .slide {
    height: 250px;
  }
}
@media screen and (max-width: 550px) {
  /* line 155, ../SASS/_content.scss */
  .projectCol .slideshowSlider .slide, .single-projects .slideshowSlider .slide, .single-services .slideshowSlider .slide, .single-post #newsWrapper .newsRelatedList .slideshowSlider .slide {
    height: 170px;
  }
}
@media screen and (max-width: 480px) {
  /* line 155, ../SASS/_content.scss */
  .projectCol .slideshowSlider .slide, .single-projects .slideshowSlider .slide, .single-services .slideshowSlider .slide, .single-post #newsWrapper .newsRelatedList .slideshowSlider .slide {
    height: 330px;
  }
}
@media screen and (max-width: 400px) {
  /* line 155, ../SASS/_content.scss */
  .projectCol .slideshowSlider .slide, .single-projects .slideshowSlider .slide, .single-services .slideshowSlider .slide, .single-post #newsWrapper .newsRelatedList .slideshowSlider .slide {
    height: 270px;
  }
}

/* line 182, ../SASS/_content.scss */
#industryProjects .slideshowSlider .slide {
  background-size: cover;
  background-position: center center;
  height: 200px;
}
/* line 186, ../SASS/_content.scss */
#industryProjects .slideshowSlider .slide img {
  opacity: 0;
}
@media screen and (max-width: 1024px) {
  /* line 182, ../SASS/_content.scss */
  #industryProjects .slideshowSlider .slide {
    height: 335px;
  }
}
@media screen and (max-width: 900px) {
  /* line 182, ../SASS/_content.scss */
  #industryProjects .slideshowSlider .slide {
    height: 285px;
  }
}
@media screen and (max-width: 768px) {
  /* line 182, ../SASS/_content.scss */
  #industryProjects .slideshowSlider .slide {
    height: 250px;
  }
}
@media screen and (max-width: 550px) {
  /* line 182, ../SASS/_content.scss */
  #industryProjects .slideshowSlider .slide {
    height: 170px;
  }
}
@media screen and (max-width: 480px) {
  /* line 182, ../SASS/_content.scss */
  #industryProjects .slideshowSlider .slide {
    height: 330px;
  }
}
@media screen and (max-width: 400px) {
  /* line 182, ../SASS/_content.scss */
  #industryProjects .slideshowSlider .slide {
    height: 270px;
  }
}

/* line 212, ../SASS/_content.scss */
.projectColBig .slideshowSlider .slide {
  background-size: cover;
  background-position: center center;
  height: 410px;
}
/* line 216, ../SASS/_content.scss */
.projectColBig .slideshowSlider .slide img {
  opacity: 0;
}
@media screen and (max-width: 1024px) {
  /* line 212, ../SASS/_content.scss */
  .projectColBig .slideshowSlider .slide {
    height: 340px;
  }
}
@media screen and (max-width: 768px) {
  /* line 212, ../SASS/_content.scss */
  .projectColBig .slideshowSlider .slide {
    height: 500px;
  }
}
@media screen and (max-width: 550px) {
  /* line 212, ../SASS/_content.scss */
  .projectColBig .slideshowSlider .slide {
    height: 360px;
  }
}
@media screen and (max-width: 480px) {
  /* line 212, ../SASS/_content.scss */
  .projectColBig .slideshowSlider .slide {
    height: 320px;
  }
}
@media screen and (max-width: 400px) {
  /* line 212, ../SASS/_content.scss */
  .projectColBig .slideshowSlider .slide {
    height: 280px;
  }
}

/* line 239, ../SASS/_content.scss */
.slideshowControls .prevNext {
  width: 100%;
  position: absolute;
  top: 50%;
  z-index: 50;
}
/* line 244, ../SASS/_content.scss */
.slideshowControls .prevNext li {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #FFFFFF;
  opacity: 0.8;
  -webkit-transition: left 0.5s, right 0.5s;
  transition: left 0.5s, right 0.5s;
}
/* line 257, ../SASS/_content.scss */
.slideshowControls .prevNext li:first-child {
  left: -30px;
  cursor: w-resize;
}
/* line 260, ../SASS/_content.scss */
.slideshowControls .prevNext li:first-child:after {
  content: "<";
}
/* line 262, ../SASS/_content.scss */
.slideshowControls .prevNext li:last-child {
  right: -30px;
  cursor: e-resize;
}
/* line 265, ../SASS/_content.scss */
.slideshowControls .prevNext li:last-child:after {
  content: ">";
}
@media screen and (max-width: 768px) {
  /* line 268, ../SASS/_content.scss */
  .slideshowControls .prevNext li:first-child {
    left: 0;
  }
  /* line 269, ../SASS/_content.scss */
  .slideshowControls .prevNext li:last-child {
    right: 0;
  }
}
/* line 273, ../SASS/_content.scss */
.slideshowControls .slideshowIndicators {
  width: 100%;
  position: absolute;
  bottom: 10px;
  z-index: 50;
  text-align: center;
}
/* line 279, ../SASS/_content.scss */
.slideshowControls .slideshowIndicators li {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
  cursor: pointer;
}
/* line 289, ../SASS/_content.scss */
.slideshowControls .slideshowIndicators li.active {
  background-color: rgba(255, 255, 255, 0.95);
}
/* line 295, ../SASS/_content.scss */
.slideshowContainer:hover .slideshowControls .prevNext li:first-child {
  left: 0;
}
/* line 296, ../SASS/_content.scss */
.slideshowContainer:hover .slideshowControls .prevNext li:last-child {
  right: 0;
}

/* line 301, ../SASS/_content.scss */
.slideshowOverlay {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 25;
  background-color: rgba(38, 18, 140, 0.6);
  color: #fafafa;
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
/* line 311, ../SASS/_content.scss */
.slideshowOverlay h3, .slideshowOverlay h4 {
  font-size: 14px;
}
/* line 312, ../SASS/_content.scss */
.slideshowOverlay .slideshowOverlayContainer {
  padding: 8px 8px 28px;
  text-align: center;
}
/* line 313, ../SASS/_content.scss */
.slideshowContainer:hover .slideshowOverlay {
  opacity: 1;
}
@media screen and (max-width: 768px) {
  /* line 301, ../SASS/_content.scss */
  .slideshowOverlay {
    opacity: 1;
  }
}
/* line 315, ../SASS/_content.scss */
.slideshowOverlay a {
  display: block;
  color: #FFFFFF;
}

/* line 321, ../SASS/_content.scss */
.slideshowSlideTitles {
  height: 40px;
}
/* line 323, ../SASS/_content.scss */
.slideshowSlideTitles h3 {
  display: none;
}
/* line 324, ../SASS/_content.scss */
.slideshowSlideTitles h3.active {
  display: block;
}

/* line 337, ../SASS/_content.scss */
.pageSectionCopy p {
  font-size: 1.125em;
  margin-bottom: 1em;
}
/* line 339, ../SASS/_content.scss */
.pageSectionCopy ul {
  margin-bottom: 1em;
}
/* line 340, ../SASS/_content.scss */
.pageSectionCopy li {
  margin-bottom: 0.25em;
  font-size: 0.9375em;
  position: relative;
  padding-left: 1em;
}
/* line 341, ../SASS/_content.scss */
.pageSectionCopy li:before {
  content: "\2022";
  position: absolute;
  left: 0;
  font-size: 0.75em;
}
/* line 344, ../SASS/_content.scss */
.pageSectionCopy p:last-child, .pageSectionCopy li:last-child, .pageSectionCopy ul:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  /* line 356, ../SASS/_content.scss */
  .pageSectionCopy, .pageSectionRight {
    float: none;
    margin-left: 0;
    margin-right: 0;
  }
}
/* line 487, ../SASS/_content.scss */
.subnav .filters > ul > li {
  font-size: 1.125em;
  line-height: 1.2em;
  margin-right: 35px;
}
/* line 491, ../SASS/_content.scss */
.subnav .filters > ul > li.active a {
  color: #26128c;
}
/* line 492, ../SASS/_content.scss */
.subnav .filters > ul > li a {
  display: block;
  padding-top: 16px;
  padding-bottom: 26px;
}
/* line 500, ../SASS/_content.scss */
.subnav .filters {
  float: left;
  padding-top: 16px;
  padding-bottom: 26px;
}
/* line 505, ../SASS/_content.scss */
.subnav .filters > li {
  float: left;
  margin-right: 20px;
  font-size: 1.125em;
  line-height: 22px;
  height: 22px;
  z-index: 100;
  cursor: pointer;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}
/* line 515, ../SASS/_content.scss */
.subnav .filters > li:hover {
  color: #26128c;
}
/* line 519, ../SASS/_content.scss */
.subnav .filters > li > span {
  display: inline-block;
  margin-left: 10px;
  position: relative;
  top: 3px;
}
/* line 527, ../SASS/_content.scss */
.subnav .filters > li.with-icon {
  margin-top: -1px;
}
/* line 531, ../SASS/_content.scss */
.subnav .filters .filterDropdown {
  width: 100%;
  position: absolute;
  left: 0;
  top: 38px;
  padding-top: 10px;
  padding-left: 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1000;
  display: none;
}
/* line 543, ../SASS/_content.scss */
.subnav .filters .filterDropdown.open {
  display: block;
}
/* line 546, ../SASS/_content.scss */
.subnav .filters .filterDropdown .splitList {
  width: 33%;
  float: left;
  margin-left: 30px;
}
/* line 551, ../SASS/_content.scss */
.subnav .filters .filterDropdown a {
  display: block;
  color: #999999;
  padding: 5px 0;
  transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -webkit-transition: color 0.25s ease-out;
}
/* line 555, ../SASS/_content.scss */
.subnav .filters .filterDropdown a:hover {
  color: #FFFFFF;
}
@media screen and (max-width: 470px) {
  /* line 565, ../SASS/_content.scss */
  .subnav .filters > li:first-child {
    width: 100%;
    float: none;
    margin-bottom: 5px;
  }
  /* line 571, ../SASS/_content.scss */
  .subnav .filters .filterDropdown {
    top: 60px;
    padding-left: 0;
  }
}
/* line 576, ../SASS/_content.scss */
.subnav .filters .filterDropdownContent {
  padding: 10px 52px;
  background: #26128c;
}
@media screen and (max-width: 686px) {
  /* line 576, ../SASS/_content.scss */
  .subnav .filters .filterDropdownContent {
    padding: 10px 0;
  }
  /* line 582, ../SASS/_content.scss */
  .subnav .filters .filterDropdownContent li {
    font-size: 1rem;
  }
}
/* line 586, ../SASS/_content.scss */
.subnav .views {
  position: relative;
  top: 2px;
}
/* line 590, ../SASS/_content.scss */
.subnav .views > li {
  display: inline-block;
  width: 19px;
  height: 19px;
  font-size: 19px;
  line-height: 19px;
  margin: 0 10px;
  position: relative;
}
/* line 599, ../SASS/_content.scss */
.subnav .views > li.gridview a:after {
  content: "\e901";
}
/* line 600, ../SASS/_content.scss */
.subnav .views > li.listview a:after {
  content: "\e902";
}
/* line 601, ../SASS/_content.scss */
.subnav .views > li.locationview a:after {
  content: "\e900";
}
/* line 602, ../SASS/_content.scss */
.subnav .views > li:before {
  width: 1px;
  background-color: #e6e6e6;
  display: block;
  height: 17px;
  position: absolute;
  left: -11px;
  content: " ";
}
/* line 612, ../SASS/_content.scss */
.subnav .views > li:first-child:before {
  display: none;
}
/* line 613, ../SASS/_content.scss */
.subnav .views > li:last-child {
  margin-right: 0;
}
/* line 615, ../SASS/_content.scss */
.subnav .views a {
  color: black;
}
/* line 618, ../SASS/_content.scss */
.subnav .views a:hover {
  color: #26128c;
}
@media screen and (max-width: 1024px) {
  /* line 586, ../SASS/_content.scss */
  .subnav .views {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  /* line 630, ../SASS/_content.scss */
  .subnav .filters, .filter-search-right {
    float: none;
  }
}
/* line 635, ../SASS/_content.scss */
.subnavContainer {
  position: relative;
}

/* line 644, ../SASS/_content.scss */
.careersNav a {
  padding-bottom: 5px;
}

/* line 649, ../SASS/_content.scss */
.jobsList {
  margin-bottom: 50px;
}
/* line 652, ../SASS/_content.scss */
.jobsList h4 {
  font-size: 1.3125em;
  margin-bottom: 0.25em;
  cursor: pointer;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}
/* line 658, ../SASS/_content.scss */
.jobsList h4:hover, .jobsList h4.active {
  color: #26128c;
}
/* line 660, ../SASS/_content.scss */
.jobsList p {
  margin-bottom: 1em;
}
/* line 663, ../SASS/_content.scss */
.jobsList p.collapse-accordion {
  color: #26128c;
  margin-bottom: 40px;
  cursor: pointer;
}
/* line 669, ../SASS/_content.scss */
.jobsList p + ul {
  margin-top: -1em;
}
/* line 671, ../SASS/_content.scss */
.jobsList.init .jobsDetail {
  display: none;
}
/* line 673, ../SASS/_content.scss */
.jobsList li.active h4 {
  color: #26128c;
}
/* line 676, ../SASS/_content.scss */
.jobsList li.active .jobsDetail {
  display: block;
}

/* line 684, ../SASS/_content.scss */
.jobsDetail ul {
  list-style: disc;
  padding-left: 1em;
  margin-bottom: 1em;
}

/* line 691, ../SASS/_content.scss */
.share {
  position: absolute;
  right: 0;
  top: 0;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 20px;
  padding: 15px;
  z-index: 20;
  cursor: pointer;
}
/* line 702, ../SASS/_content.scss */
.share:after {
  content: "l";
}

/* line 707, ../SASS/_content.scss */
.contactMainWrapper {
  position: absolute;
  top: 200px;
  width: 100%;
}

/* line 717, ../SASS/_content.scss */
.contactMain h2 {
  font-size: 1.5em;
}
/* line 718, ../SASS/_content.scss */
.contactMain p {
  margin-bottom: 1em;
  font-size: 1.125em;
}

/* line 726, ../SASS/_content.scss */
.container404 {
  text-align: center;
}
/* line 730, ../SASS/_content.scss */
.container404 h1 {
  color: #26128c;
}
/* line 733, ../SASS/_content.scss */
.container404 .search404 {
  margin: auto;
}

/* Contact */
/* line 742, ../SASS/_content.scss */
.contactMainContent input[type='email'], .contactMainContent input[type='text'], .newsIntroContainer input[type='email'], .newsIntroContainer input[type='text'] {
  max-width: 225px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  font-size: 15px;
  padding: 0 5px;
  height: 26px;
  background-color: #f3f3f3;
}
/* line 756, ../SASS/_content.scss */
.contactMainContent button, .newsIntroContainer button {
  font-size: 18px;
  width: 100%;
  max-width: 130px;
  height: 40px;
  border: 1px solid #6b6b6b;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color 0.25s, color 0.25s;
  transition: background-color 0.25s, color 0.25s;
}
/* line 769, ../SASS/_content.scss */
.contactMainContent button:hover, .newsIntroContainer button:hover {
  color: #FFFFFF;
  background-color: #371ac9;
}
/* line 774, ../SASS/_content.scss */
.contactMainContent p, .newsIntroContainer p {
  margin-bottom: 1em;
}

/* line 779, ../SASS/_content.scss */
.newsIntroContainer h3 {
  color: #26128c;
  font-weight: 300;
  font-size: 1.7em;
  margin-bottom: .5em;
  line-height: 1.1em;
}

/* line 1, ../SASS/_footer.scss */
footer {
  background-color: #e6e6e6;
  padding: 40px 0 50px;
  height: 88px;
  margin-top: 80px;
}
/* line 6, ../SASS/_footer.scss */
footer a {
  color: #000000;
}
/* line 8, ../SASS/_footer.scss */
footer a:hover {
  color: #26128c;
  border: 0;
}

/* line 17, ../SASS/_footer.scss */
#footerNav > ul {
  margin: auto;
  float: none;
  padding-bottom: 22px;
  margin-bottom: 22px;
  border-bottom: 1px solid #666666;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/* line 30, ../SASS/_footer.scss */
#footerNav > ul > li {
  font-size: 1.125em;
}

/* line 36, ../SASS/_footer.scss */
.copyInfo {
  margin: auto;
  float: none;
  font-size: 0.9375em;
  text-align: center;
}
/* line 42, ../SASS/_footer.scss */
.copyInfo li {
  display: inline-block;
  margin: 0 15px;
}
/* line 46, ../SASS/_footer.scss */
.copyInfo, .copyInfo a {
  color: #666666;
}

@media screen and (max-width: 686px) {
  /* line 50, ../SASS/_footer.scss */
  footer {
    height: auto;
  }

  /* line 52, ../SASS/_footer.scss */
  #footerNav > ul {
    display: block;
  }
  /* line 53, ../SASS/_footer.scss */
  #footerNav > ul > li {
    text-align: center;
  }
  /* line 55, ../SASS/_footer.scss */
  #footerNav .social {
    text-align: center;
    margin-top: 1em;
  }
  /* line 56, ../SASS/_footer.scss */
  #footerNav .social li {
    float: none;
    display: inline-block;
  }
}
/* line 61, ../SASS/_footer.scss */
#mobile-nav {
  height: -webkit-calc(100vh - 90px);
  height: calc(100vh - 90px);
  width: 100%;
  position: fixed;
  top: 90px;
  right: -100%;
  background-color: #fafafa;
  -webkit-transition: right 0.25s;
  transition: right 0.25s;
  z-index: 3000;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
/* line 74, ../SASS/_footer.scss */
#mobile-nav.open {
  right: 0;
}
/* line 77, ../SASS/_footer.scss */
#mobile-nav > ul {
  padding-top: 20px;
}
/* line 80, ../SASS/_footer.scss */
#mobile-nav > ul > li {
  border-bottom: 1px solid #999999;
}
/* line 83, ../SASS/_footer.scss */
#mobile-nav > ul > li > a {
  width: -webkit-calc(95% - 40px);
  width: calc(95% - 40px);
  display: block;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: black;
  padding: 12px 0;
  font-size: 1.3125em;
  line-height: 1em;
  height: 45px;
}
/* line 98, ../SASS/_footer.scss */
#mobile-nav > ul > li.current_page a {
  color: #26128c;
}
/* line 100, ../SASS/_footer.scss */
#mobile-nav > ul > li button {
  width: 40px;
  height: 45px;
  float: right;
  display: block;
  border: 0;
  background: transparent;
  font-size: 21px;
}
/* line 109, ../SASS/_footer.scss */
#mobile-nav > ul > li button:after {
  content: "\f107";
}
/* line 112, ../SASS/_footer.scss */
#mobile-nav > ul > li button, #mobile-nav > ul > li button:focus {
  outline: 0;
}
/* line 116, ../SASS/_footer.scss */
#mobile-nav .navDropdownWrapper {
  display: none;
}
/* line 119, ../SASS/_footer.scss */
#mobile-nav .navDropdownWrapper a {
  font-size: 1em;
  display: block;
  padding: 8px 0;
  color: black;
}
/* line 125, ../SASS/_footer.scss */
#mobile-nav .navDropdownWrapper.dropdown-open {
  display: block;
}
/* line 130, ../SASS/_footer.scss */
#mobile-nav .navDropdownWrapper.locations li {
  width: 50%;
  float: left;
}
/* line 136, ../SASS/_footer.scss */
#mobile-nav a:hover {
  border: 0;
}
@media screen and (max-width: 686px) {
  /* line 61, ../SASS/_footer.scss */
  #mobile-nav {
    height: -webkit-calc(100vh - 60px);
    height: calc(100vh - 60px);
    top: 60px;
  }
}
@media screen and (min-width: 1025px) {
  /* line 61, ../SASS/_footer.scss */
  #mobile-nav {
    display: none;
  }
}

/*

    min-height: calc(100vh - 90px);
    width: 100%;
    top: 100%;
    right: -100%;
    position: absolute;
    padding: 0;
    background-color: $beige;
    &.open { right: 0; }
    > ul {
      height: auto;
      display: block;
      > li {
        text-align: center;
        > a {
          padding: 12px;
          box-sizing: border-box;
          //width: calc(100% - 60px);
          //float: left;
          &:before { display: none; }
        }
        
        button.dropdown {
          display: block;
        }
        &:hover .navDropdownWrapper { display: none; }
        &.current_page {
          > a { color: $purple; }
          &:hover .navDropdownWrapper { display: block; }
          
         .navDropdownWrapper {background-color: $beige; }
        }
      }
    }
    .navDropdownWrapper {
      position: static;
      &.locations {
        display: none !important;
      }
    }
    .navDropdown {
      padding-left: 0;
      li {
        float: none;
        text-align: center;
        font-size: 18px;
        margin-right: 0;
      }
      a {
        padding-left: 0;
        padding-right: 0;
      }
    }

*/
