
@media screen and (max-width: $maxW) {
  #internalNav ul { margin-left: 0; }
}

$mobileH: $extNavH + 67;

@media screen and (max-width: cols(9)) {
  header {
    h2 { display: none; }
  }
  #internalNav li { margin-right: 10px; }
}

@media screen and (max-width: cols(4) * 2) {
  %floatOff {
    width: 100%;
    float: none;
  }
  
  header {
    display: block;
    height: auto;
    padding-bottom: 5px;
    h1 {

    }
  }
  
  #mainContent { margin-top: $mobileH + 10; }
  
  .contentContainer {
    .col1,.col2 { @extend %floatOff; }
    .col1 { margin-bottom: 1em; }
  }
  #mainContent section:nth-child(2n) {
    .col1,.col2 { @extend %floatOff; }
  }
  
  .fixedTop {
    height: $mobileH;
    border-bottom: 1px solid $gray;
  }
  
  #mobileMenuToggleButton { display: block; }
  #internalNav {
    position: fixed;
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    right: -100%;
    top: $mobileH + 1;
    border-top: 0;
    border-bottom: 1px solid $gray;
    a { padding: 12px; }
    li {
      display: block;
      margin: auto;
      text-transform: uppercase;
      text-align: center;
    }
    #mobileMenuToggle:checked + & { right: 0px; }
  }
  
  footer { 
    padding-top: 12px;
  }
  .footerNav { 
    display: block;
    a {
      margin: 0;
      padding: 12px;
      text-transform: uppercase;
    }
    .social {
      width: auto;
      text-align: center;
    }
  }
}

@media screen and (max-width: cols(6)) {
  .contactFields,.contactMessage {
    width: 100%;
    float: none;
  }
  .shareForm p { 
    &,&:last-child { margin-bottom: 19px; }
  }
  .submitButton { text-align: center; }
}

@media screen and (max-width: 400px) {
  header h2 { font-size: em(18px); }
  $rthumbW: 85px;
  .slideThumbs {
    li {
      width: $rthumbW;
      height: round($rthumbW * ($thumbH / $thumbW));
    }
  }
}